body { 
  margin: 0; 
  padding: 0; 
}
    
#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}

#map-container {
  position: relative;
  height: 100vh;
}

#citiesBtn {
  position: absolute;
  top: 100px;  /* Position it 10px from the top of the map container */
  left: 50%;  /* Center the button horizontally */
  transform: translateX(-50%);  /* Adjust the button's position */
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);  /* Optional: make the button background a little transparent */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;  /* Ensure the button is above the map */
}

#citiesBtn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
